body {
	background-color: #ffffff;
	color: #006600;
	text-align: center;
}

ul {
	list-style-type: none;
}
div.row:after {
  content: "";
  display: table;
  clear: both;
}

div.column {
	float: left;
	width: 40%;
	padding: 15px;
}
div.title {
	text-align: center;
	padding: 20px;
	font-size: 2.5em;
}

div.subtitle {
	font size: 1.5em;
}

ul.horizontal {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.horizontal li {
	float: left;
}

ul.horizontal li a {
	display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer {
	background-color: #F1F1F1;
	color: #000000;
}

h3 {
	font-weight: normal;
}